h1 {
    background-color: darkslateblue;
    color: white;
    height: 100px;
    text-align: center;
    font-size: 64px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: -5px;
    padding-top: 20px;
}

.mainSectionHead {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    margin-left: 50px;
}